* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*ffe300 logo yellow, fff6af highlight*/
}

/*Palette 1: SD82B8, FFE300, 5BC8AF, BFF0D4, EF8275*/
/*Nice Blue: 3C91E6*/
/*Palette 2: Nice Blue, Logo Yellow, 2F4858, 668F80, FE5F55*/
/*Palette 3: Nice Blue, Logo Yellow, 592E83, F28482 Light Coral, 230C33*/
/*Pallete 4: Nice Blue, Logo Yellow, EAE8FF, Light Coral, 2D3142 Cool Bkgrnd*/

.mainContainer {
    width: 1280px;
    height: 720px;

    background: linear-gradient( 235deg, #F28482, #3C91E6);

    position: relative;

    padding: 10px 20px;
    overflow: hidden;
}

.headingBox {
    width: 100%;
    height: 50px;
}

.headingBox>img {
    height: 0px;
}

.logoContainer {
    height: 100%;

    /*background: url("./tweeezlogoCropped.png") 0 0 no-repeat;
    background-size: contain;*/

}

.sideAnimationBox {
    position: absolute;

    height: 70px;
    width: 50px;

    margin-top: -150px;
    margin-left: -15px;

    background: url("./assets/flippingE.gif") 0 0 no-repeat;
    background-size: contain;
    /*background-color: red;*/

    animation: eDrop 3s infinite;
}


.eflex:nth-child(2) {
    
    margin-left: 320px;
    animation: eDrop 4s infinite;
}

.eflex:nth-child(3) {
    
    margin-left: 640px;
}

.eflex:nth-child(4) {
   
    margin-left: 920px;
    animation: eDrop 4s infinite;
}

.eflex:last-child {
    
    margin-left: 1190px;
}

.gameplayBox {
    width: 1180px;
    height: 664px;

    margin-top: -30px;
    margin-left: 40px;
    background-color: #000000;

    border-radius: 0 30px 30px 0;

    /*box-shadow: 5px 0px 5px 10px #ffffff,
                -20px 0px 5px 10px #ffffff;*/
    animation: backGlow 5s infinite ease-in-out;
}

.chatBox {
    display: none;

    position: absolute;

    background-color: #2D3142;

    width: 260px;
    height: 550px;

    transform: translate(1000px, -550px);

    border-radius: 30px 0 0 30px;

    box-shadow: inset 10px 0 10px 10px rgba(0, 0, 0, .7);

    animation: sidePulse 5s infinite ease-in-out;
}

.camBox {
    width: 250px;
    height: 210px;

    margin-top: -110px;

    transform: translate(-20px, -80px);

    background-color: #09ff00;

    border-radius: 0 30px 30px 0;

    border: solid 10px #3C91E6;
    border-left: none;

    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .4);
}

.camBox>img {
    width: auto;
    max-height: 100%;
    background: none;
    transform: scale(.95) translate(4px, -4px);

    visibility: hidden;
}

.scheizzBox {
    width: 800px;

    position: absolute;

    
    margin-left: 250px;
    margin-top: -140px;

    display: flex;
    gap: 30px;
}

.goalBox, .penaltyBox {
    width: 300px;
    height: 70px;

    flex: 1 1 auto;

    background: none;
}

.awayBox>p {

    font-family: 'Press Start 2P';
    font-size: 80px;
    font-style: bold;
    color: rgb(255, 225, 0);

    text-shadow: 5px 3px 2px rgb(134, 134, 0),
                 10px 10px 0px rgb(50, 50, 19);

    text-align: left;

    margin-left: 1280px;

    width: 1000px;
}

.awayBox>p:first-child{

    margin-top: 50px;
    animation: slideInTop 6s infinite ease-out;
}

.awayBox>p:nth-child(2) {
    
    width: 1200px;
    margin-top: 100px;
    animation: slideInBottom 6s infinite ease-in;
}

@keyframes sidePulse {
    0% { 
        box-shadow: inset 10px 0 10px 10px rgba(0, 0, 0, .7);
    }
    50% {
        box-shadow: inset 7px 0 7px 7px rgba(0, 0, 0, .7),
                    inset -5px 0 10px 5px rgba(60, 145, 230, .8),
                    inset -3px 0 10px 0px rgba(234, 232, 255, .8);
    }
    100% {
        box-shadow: inset 10px 0 10px 10px rgba(0, 0, 0, .7);
    }
}

@keyframes backGlow {
    0% {
        box-shadow: 5px 0px 5px 10px rgba(234, 232, 255, .8);
    }
    50% {
        box-shadow: 8px 0px 8px 10px rgba(242, 132, 130, .8),
                    10px 0px 8px 10px rgba(234, 232, 255, .8);
                    /*-8px 0px 6px 7px rgba(60, 145, 230, .8),
                    -10px 0px 8px 10px rgba(234, 232, 255, .8);*/
    }
    100% {
        box-shadow: 5px 0px 5px 10px rgba(234, 232, 255, .8);
    }
}

@keyframes eDrop {
    0% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(900px);
    }
}

@keyframes slideInTop {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1050px);
    }
    100% {
        transform: translateX(-2250px);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1050px);
    }
    100% {
        transform: translateX(-2310px);
    }
}